extends layout

block vars
	- var navButtonViewClass = 'active'
	- var navButtonModifyClass = ''
	- var navButtonRemoveClass = ''
	- var onloadFunction = 'InitializeFormContent()'

block content
	a(href="#") This is the Main page
