extends layout

block vars
	- var navButtonViewClass = ''
	- var navButtonModifyClass = 'active'
	- var navButtonRemoveClass = ''
	- var onloadFunction = ''

block content
	a(href="#") This is Modify Movie Landing